/* Use a unique and descriptive class name */
/* Use a value from 100 to 900 */

.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}